.header{

    display: flex;
    gap: 50px;
}

.header a{
    
    margin-top: 15px;
}


body{
    
    height: auto;
    margin: 0;
}
.container{
    width: 100%;
    height: 100%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.data{
    
    
    width : 100%;
    height: 13em;
    top: 0;
    background-color: white;
}

thead{
    position: sticky;
    background-color: white;
    height:1em;
    color: black;
    top: 0;
    z-index: 1;
   
}
tbody{
    top: 10px;
}
.scrollable-table{
    max-height: 500px;
    overflow: auto;
    
}

.handler{
    margin-top: 20px;
    margin-bottom: 20px;
}

.handler-button{

    width: 100%;
}

input[type="checkbox"]{
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    margin-left: 10px;
}

.exportForm{

    display: flex;
    gap: 5vw;
    margin-bottom: 50px;

}
.dateContainer label{
    display: block;

}

#exportBtn{

    height: 40px;
    margin-top: auto;
}

.exportContent{

    visibility: visible;
}